#custom-item {
    // border-bottom: 1px solid greenyellow ;
  border-bottom: 1px solid plum;

  }

  #custom-toolbar {
    background: blue /* Adjust the color codes as needed */
  }

  ion-toolbar {
    --background: linear-gradient(to right, #007bff, #4e9cff); /* Adjust the color codes as needed */
    --color: white;
  }
  